body, html {
    height: 100%;
    margin: 0;
  }

.background {
    background-image: url("background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }  

.container{
}

#jumbotron {
    background-color: silver;
}

#form {
    margin-top: 20px;
    margin-left: 60px;
    padding: 20px;
    width: 240px;
    background-color: silver;
}

#create {
    margin-left: 40px;
}

#taskList{
    padding: 0px;
    width: 600px;
    margin-top: -350px;
    margin-bottom: 150px;
    margin-left: 650px;
}
.card {
    border: 2px solid black;
    margin-top: 200px;
    background-color: silver;
}